<table>
  <tr>
    <th>ID</th>
    <th>TITULO</th>
    <th>PRECIO</th>
    <th> CATEGORIA</th>
  </tr>

  {{#each productos}}

    <tr>
      <td>{{this.id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td>{{this.category}}</td>
    </tr>

  {{/each}}

</table>

<script src="/js/inx.js"></script>